In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import operator
import gc

In [2]:
PATH = '../data/'

PROP_DATA_PATH = PATH + 'Property dataset/'
TRN_DATA_PATH = PATH + 'training dataset/'
TEST_DATA_PATH = PATH + 'Test dataset/'

In [3]:
##### Accounts Profiles

accounts_table = pd.read_csv(TRN_DATA_PATH+'Accounts.csv')

accounts_table.head()

accounts_table.describe()

accts_table_cnts_features = [
                                'active_deals',
                                'activity_count',
                                'num_deals_as_client',
                                'num_deals_as_investor',
                                'number_of_properties',
                                'number_of_related_deals',
                                'number_of_related_properties',
                                'number_of_won_deals_as_client'
                            ]

accts_table_bool_vars = [
                            'buyer_book',
                            'servicing_contract',
                            'cmbs',
                            'consultant',
                            'correspondent',
                            'foreign',
                            'master_servicer',
                            'lender_book',
                            'loan_sales_book',
                            'loan_servicing'
                        ]

for var in accts_table_bool_vars:
    print(accounts_table[var].value_counts())

for var in accts_table_bool_vars:
    accounts_table[var].replace([True,False],[1,0],inplace=True)

accounts_table.head()

accts_ids = accounts_table.id_accs.values.tolist()

accts_profiles = accounts_table[accts_table_cnts_features+accts_table_bool_vars].values.astype('float')

True     2189
False     567
Name: buyer_book, dtype: int64
False    2700
True       56
Name: servicing_contract, dtype: int64
False    2749
True        7
Name: cmbs, dtype: int64
False    2756
Name: consultant, dtype: int64
False    2741
True       15
Name: correspondent, dtype: int64
False    2578
True      178
Name: foreign, dtype: int64
False    2754
True        2
Name: master_servicer, dtype: int64
False    1509
True     1247
Name: lender_book, dtype: int64
True     1792
False     964
Name: loan_sales_book, dtype: int64
False    2755
True        1
Name: loan_servicing, dtype: int64

In [53]:
##### Properties profiles
property_data = pd.read_csv(PROP_DATA_PATH+'Properties.csv')
property_data.drop('id_deals',axis=1,inplace=True)
display(property_data.head())
property_data_cnt_feats = [
                            'price_per_sq_ft',
                            'num_buildings',
                            'num_floors',
                            'num_parking_spaces',
                            'sale_amount__c',
                            'size_sf',
                            'year_built',
                            'city',
                            'county',
                            'market',
                            'class',
                            'property_type_1',
#                             'sale_status',
#                             'portfolio',

                        ]

property_ids = property_data.id_props.values.tolist()

property_profiles = property_data[property_data_cnt_feats].fillna(0).values

def get_property_feature_vector(idx):
    property_feat_vec = property_profiles[idx]
    return property_feat_vec

def get_similar_accounts(acct_id):
    acct_id_idx = accts_ids.index(acct_id)
    acct_id_feature_vector = accts_profiles[acct_id_idx].astype('float')
    reccs = [(i,scipy.spatial.distance.cosine(acct_id_feature_vector,apf.astype('float')))\
             for i,apf in enumerate(accts_profiles)]
    reccs.sort(key=operator.itemgetter(1))
    return reccs

# array([2.22280e+02, 1.00000e+00, 2.00000e+00, 4.00000e+02, 2.25000e+07,
#        1.01223e+05, 2.00100e+03])

# array([4.29969e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00, 8.00000e+07,
#        1.86060e+04, 2.00300e+03])

,id_props,building_status,building_tax_expenses,city,class,county,sale_status,portfolio,market,num_buildings,...,price_per_sq_ft,price_per_unit,property_type_1,region__c,sale_amount__c,sale_date__c,size_acres,size_sf,size_units,year_built
0,a0I2A00000XQGKlUAP,Existing,2009 Tax @ $1.25/sf,City-0488,Class B,County-0172,N,False,Market-0059,1.0,...,46.59,18350000.00,Industrial,Southwest,1.835000e+07,7/10/2015,3.760,393862.0,1.0,1980.0
1,a0I2A00000XQGKnUAP,NaN,NaN,City-1975,Class A,County-0465,Y,True,Market-0239,NaN,...,1141.55,2109090.91,Multi-Housing,Southeast,2.144058e+07,12/31/2016,19.600,508080.0,275.0,2014.0
2,a0I2A00000XQGKoUAP,Existing,"2016 Tax @ $5.63/sf; 2007 Ops @ $19.58/sf, 201...",City-1415,Class B,County-0452,N,False,Market-0165,1.0,...,1506.65,NaN,Retail,Northeast,2.754156e+07,9/30/2016,0.266,18280.0,NaN,1902.0
3,a0I2A00000XQGKpUAP,NaN,NaN,City-1415,Class A,County-0452,N,False,Market-0165,1.0,...,580.83,1220689.66,NaN,Northeast,1.416000e+08,1/21/2016,0.530,243789.0,116.0,NaN
4,a0I2A00000XQGKqUAP,NaN,NaN,City-0941,NaN,County-0284,N,False,Market-0106,NaN,...,NaN,NaN,Self-Storage,Southwest,0.000000e+00,9/30/2014,NaN,NaN,NaN,NaN

In [60]:
property_profiles.shape

(18298, 14)

In [54]:
property_data.columns

Index(['id_props', 'building_status', 'building_tax_expenses', 'city', 'class',
       'county', 'sale_status', 'portfolio', 'market', 'num_buildings',
       'num_floors', 'num_parking_spaces', 'occupancy_rate', 'price_per_sq_ft',
       'price_per_unit', 'property_type_1', 'region__c', 'sale_amount__c',
       'sale_date__c', 'size_acres', 'size_sf', 'size_units', 'year_built'],
      dtype='object')

In [55]:
property_data['property_type_1'].value_counts()

Multi-Housing              5627
Office                     3744
Retail                     3474
Industrial                 2492
Hotel-Lodging               896
Medical Office Building     451
Self-Storage                404
Land                        351
Seniors Housing             276
Other                       220
Biotech                      52
Name: property_type_1, dtype: int64

In [7]:
# opportunities_table = pd.read_csv(TRN_DATA_PATH+'Opportunities.csv')

# deal_to_properties_table = pd.read_csv(TRN_DATA_PATH+'Deals_to_Properties.csv')

In [17]:
# accounts_to_properties_table = pd.read_csv(TRN_DATA_PATH+'Accounts_properties.csv')
# accounts_to_properties_table.drop('id_deals',axis=1,inplace=True)

temp = pd.merge(accounts_to_properties_table,property_data,on=['id_props'],how='left')

In [32]:
temp[['id_accs','city','county']].groupby(['id_accs','city'])['county'].agg('count').reset_index()

                  id_accs       city  county
0      0012A000023XlCCQA0  City-1406       1
1      0012A000023XlNjQAK  City-0020       1
2      0012A000023XlNjQAK  City-0045       1
3      0012A000023XlNjQAK  City-0070       1
4      0012A000023XlNjQAK  City-0090       1
5      0012A000023XlNjQAK  City-0386       1
6      0012A000023XlNjQAK  City-0435       1
7      0012A000023XlNjQAK  City-0745       1
8      0012A000023XlNjQAK  City-0936       2
9      0012A000023XlNjQAK  City-1013       1
10     0012A000023XlNjQAK  City-1037       1
11     0012A000023XlNjQAK  City-1195       1
12     0012A000023XlNjQAK  City-1415       1
13     0012A000023XlNjQAK  City-1808       1
14     0012A000023XlQFQA0  City-0488       1
15     0012A000023XlQFQA0  City-0598       1
16     0012A000023XlQFQA0  City-0725       1
17     0012A000023XlQFQA0  City-0769       1
18     0012A000023XlSVQA0  City-1596       1
19     0012A000023XlStQAK  City-0020       1
20     0012A000023XlStQAK  City-0488       4
21     0012A000023XlStQAK  City-0509       1
22     0012A000023XlStQAK  City-0526       2
23     0012A000023XlStQAK  City-0936       8
24     0012A000023XlStQAK  City-0941       1
25     0012A000023XlStQAK  City-0970       1
26     0012A000023XlStQAK  City-1092       1
27     0012A000023XlStQAK  City-1158       1
28     0012A000023XlStQAK  City-1703       1
29     0012A000023XlStQAK  City-1808       1
...                   ...        ...     ...
14005  001F000001u2YKzIAM  City-0161       1
14006  001F000001u2YKzIAM  City-0213       1
14007  001F000001u2YKzIAM  City-0417       1
14008  001F000001u2YKzIAM  City-0420       1
14009  001F000001u2YKzIAM  City-0430       1
14010  001F000001u2YKzIAM  City-0502       1
14011  001F000001u2YKzIAM  City-0503       1
14012  001F000001u2YKzIAM  City-0538       1
14013  001F000001u2YKzIAM  City-0605       1
14014  001F000001u2YKzIAM  City-0747       1
14015  001F000001u2YKzIAM  City-0831       1
14016  001F000001u2YKzIAM  City-1339       1
14017  001F000001u2YKzIAM  City-1532       1
14018  001F000001u2YKzIAM  City-1570       3
14019  001F000001u2YKzIAM  City-1584       1
14020  001F000001u2YKzIAM  City-1672       1
14021  001F000001u2YKzIAM  City-1683       1
14022  001F000001u2YKzIAM  City-1703       1
14023  001F000001u2YKzIAM  City-1736       2
14024  001F000001u2YKzIAM  City-1813       2
14025  001F000001u2YKzIAM  City-1869       1
14026  001F000001u2YKzIAM  City-1894       1
14027  001F000001u2YKzIAM  City-1952       1
14028  001F000001u2YKzIAM  City-2025       1
14029  001F000001u2YKzIAM  City-2078       1
14030  001F000001u2YKzIAM  City-2091       1
14031  001F000001u2YKzIAM  City-2201       1
14032  001F000001u2YKzIAM  City-2225       1
14033  001F000001u2YKzIAM  City-2231       1
14034  001F000001u2YKzIAM  City-2329       1

[14035 rows x 3 columns]

In [56]:
##### Accounts profiling on the basis of Property Features

accounts_to_properties_table = pd.read_csv(TRN_DATA_PATH+'Accounts_properties.csv')
accounts_to_properties_table.drop('id_deals',axis=1,inplace=True)

d1 = pd.merge(accounts_to_properties_table,property_data,on=['id_props'],how='left')

# Define all the groupby transformations
GROUPBY_AGGREGATIONS = [
        {'groupby': ['id_accs'], 'select': 'price_per_sq_ft', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_buildings', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_floors', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_parking_spaces', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'sale_amount__c', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'size_sf', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'year_built', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'county', 'agg': 'nunique'},
        {'groupby': ['id_accs'], 'select': 'city', 'agg': 'nunique'},
        {'groupby': ['id_accs'], 'select': 'market', 'agg': 'nunique'},
        {'groupby': ['id_accs','city'], 'select': 'county', 'agg': 'count'},
        {'groupby': ['id_accs','county'], 'select': 'city', 'agg': 'count'},
        {'groupby': ['id_accs','market'], 'select': 'county', 'agg': 'count'},
#         {'groupby': ['id_accs'], 'select': 'portfolio', 'agg': 'count'},
#         {'groupby': ['id_accs'], 'select': 'sale_status', 'agg': 'count'},
        {'groupby': ['id_accs','class'], 'select': 'county', 'agg': 'count'},
        {'groupby': ['id_accs','property_type_1'], 'select': 'county', 'agg': 'count'}
    ]

# Apply all the groupby transformations
for spec in GROUPBY_AGGREGATIONS:
    
    # Name of the aggregation we're applying
    agg_name = spec['agg_name'] if 'agg_name' in spec else spec['agg']
    
    # Name of new feature
    new_feature = '{}_{}_{}'.format('_'.join(spec['groupby']), agg_name, spec['select'])
    # print(new_feature)
    # Info
    print("Grouping by {}, and aggregating {} with {}".format(
        spec['groupby'], spec['select'], agg_name
    ))
    
    # Unique list of features to select
    all_features = list(set(spec['groupby'] + [spec['select']]))
    # print(all_features)
    # Perform the groupby
    print(new_feature)
    gp = d1[all_features]. \
        groupby(spec['groupby'])[spec['select']]. \
        agg(spec['agg']). \
        reset_index(). \
        rename(index=str, columns={spec['select']: new_feature})
#     display(gp.head())
    d1 = d1.merge(gp, on=spec['groupby'], how='left')
    # Clear memory
    del gp
    gc.collect()

Grouping by ['id_accs'], and aggregating price_per_sq_ft with mean
id_accs_mean_price_per_sq_ft
Grouping by ['id_accs'], and aggregating num_buildings with mean
id_accs_mean_num_buildings
Grouping by ['id_accs'], and aggregating num_floors with mean
id_accs_mean_num_floors
Grouping by ['id_accs'], and aggregating num_parking_spaces with mean
id_accs_mean_num_parking_spaces
Grouping by ['id_accs'], and aggregating sale_amount__c with mean
id_accs_mean_sale_amount__c
Grouping by ['id_accs'], and aggregating size_sf with mean
id_accs_mean_size_sf
Grouping by ['id_accs'], and aggregating year_built with mean
id_accs_mean_year_built
Grouping by ['id_accs'], and aggregating county with nunique
id_accs_nunique_county
Grouping by ['id_accs'], and aggregating city with nunique
id_accs_nunique_city
Grouping by ['id_accs'], and aggregating market with nunique
id_accs_nunique_market
Grouping by ['id_accs', 'city'], and aggregating county with count
id_accs_city_count_county
Grouping by ['id_accs', 'county'], and aggregating city with count
id_accs_county_count_city
Grouping by ['id_accs', 'market'], and aggregating county with count
id_accs_market_count_county
Grouping by ['id_accs', 'class'], and aggregating county with count
id_accs_class_count_county
Grouping by ['id_accs', 'property_type_1'], and aggregating county with count
id_accs_property_type_1_count_county

In [57]:
d11 = d1[
            [
                'id_accs',
                'id_accs_mean_price_per_sq_ft',
                'id_accs_mean_num_buildings',
                'id_accs_mean_num_floors',
                'id_accs_mean_num_parking_spaces',
                'id_accs_mean_sale_amount__c',
                'id_accs_mean_size_sf',
                'id_accs_mean_year_built',
                'id_accs_nunique_county',
                'id_accs_nunique_city',
                'id_accs_nunique_market',
                'id_accs_city_count_county',
                'id_accs_county_count_city',
                'id_accs_market_count_county',
                'id_accs_class_count_county',
                'id_accs_property_type_1_count_county'
            ]
        ]

d11_dash = d11.drop_duplicates()

acc_profiles_wrt_property_features = d11_dash.fillna(0).values[:,1:]

acc_profiles_wrt_property_features.shape

(14352, 15)

In [58]:
test_data = pd.read_csv(TEST_DATA_PATH+'Test_Data.csv')

test_data.head()

ids = list(test_data['id_accs'].values)

exclude = set(list(accounts_to_properties_table.id_props.unique()))

print(len(exclude))

63001

In [59]:
def filter_similar_accts(tuples_list):
    uniq = {}
    x = np.array([each[1] for each in tuples_list])
    p = np.percentile(x,1)
    print("accounts_percentile",p)
    for tl in tuples_list:
        if tl[1] not in uniq:
            uniq[tl[1]] = tl[0]     
        if tl[1] > p:
            break
    return uniq

results = {}

for i,_id in enumerate(ids):
    most_similar_accts = get_similar_accounts(_id)
    print(len(most_similar_accts))
    filtered_most_similar_accts = filter_similar_accts(most_similar_accts)
    filtered_most_similar_accts = filtered_most_similar_accts.values()
    print(len(filtered_most_similar_accts))
    print(filtered_most_similar_accts)
    top_reccs = []
    for most_similar_acct in filtered_most_similar_accts:
#         if most_similar_acct > 2727:
#             continue
        v1 = None
        v1 = acc_profiles_wrt_property_features[most_similar_acct].astype('float')
        reccs = []
        reccs = [(i,scipy.spatial.distance.cosine(v1,pf))\
                 if not np.isnan(scipy.spatial.distance.cosine(v1,pf)) else (i,0)
                 for i,pf in enumerate(property_profiles)]
        reccs.sort(key=operator.itemgetter(1))
        reccs = [r for r in reccs if r[1]>0]
        
        x = np.array([each[1] for each in reccs])
        if x.size==0:
            continue
        p = np.percentile(x,1.5)
        top_reccs.extend([property_ids[r[0]] for r in reccs if r[1]<=p])
    results[_id] = list(set(top_reccs)-exclude)
    print(len(results[_id]))

2756
accounts_percentile 1.330248456610228e-07
29
dict_values([79, 367, 1061, 426, 221, 1911, 2125, 1297, 1705, 1102, 1438, 1278, 29, 176, 1615, 315, 1703, 451, 586, 1032, 1371, 1468, 547, 755, 127, 140, 2153, 1612, 797])

ValueError: operands could not be broadcast together with shapes (15,) (14,)

In [46]:
property_ids[2372]

'a0I2A00000XQHF3UAP'

In [48]:
property_profiles[18257]

array([0., 0., 0., 0., 0., 0., 0.])

In [47]:
property_profiles[2372]

array([0., 0., 0., 0., 0., 0., 0.])

In [63]:
import csv
with open('subm8.csv','w') as fout:
    writer = csv.writer(fout)
    writer.writerow(['id_accs','id_prop'])
    for resid,res in results.items():
        for r in res:
            row = [resid]+[r]
            writer.writerow(row)