In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import operator
import gc

In [2]:
PATH = '../data/'

PROP_DATA_PATH = PATH + 'Property dataset/'
TRN_DATA_PATH = PATH + 'training dataset/'
TEST_DATA_PATH = PATH + 'Test dataset/'

In [3]:
##### Accounts Profiles

accounts_table = pd.read_csv(TRN_DATA_PATH+'Accounts.csv')

accounts_table.head()

accounts_table.describe()

accts_table_cnts_features = [
                                'active_deals',
                                'activity_count',
                                'num_deals_as_client',
                                'num_deals_as_investor',
                                'number_of_properties',
                                'number_of_related_deals',
                                'number_of_related_properties',
                                'number_of_won_deals_as_client'
                            ]

accts_table_bool_vars = [
                            'buyer_book',
                            'servicing_contract',
                            'cmbs',
                            'consultant',
                            'correspondent',
                            'foreign',
                            'master_servicer',
                            'lender_book',
                            'loan_sales_book',
                            'loan_servicing'
                        ]

for var in accts_table_bool_vars:
    print(accounts_table[var].value_counts())

for var in accts_table_bool_vars:
    accounts_table[var].replace([True,False],[1,0],inplace=True)

accounts_table.head()

accts_ids = accounts_table.id_accs.values.tolist()

accts_profiles = accounts_table[accts_table_cnts_features+accts_table_bool_vars].values.astype('float')

True     2189
False     567
Name: buyer_book, dtype: int64
False    2700
True       56
Name: servicing_contract, dtype: int64
False    2749
True        7
Name: cmbs, dtype: int64
False    2756
Name: consultant, dtype: int64
False    2741
True       15
Name: correspondent, dtype: int64
False    2578
True      178
Name: foreign, dtype: int64
False    2754
True        2
Name: master_servicer, dtype: int64
False    1509
True     1247
Name: lender_book, dtype: int64
True     1792
False     964
Name: loan_sales_book, dtype: int64
False    2755
True        1
Name: loan_servicing, dtype: int64

In [4]:
##### Properties profiles
property_data = pd.read_csv(PROP_DATA_PATH+'Properties.csv')
property_data.drop('id_deals',axis=1,inplace=True)

orig_cols = property_data.columns
print(orig_cols)
display(property_data.head())
property_data_cnt_feats = [
                            'price_per_sq_ft',
                            'num_buildings',
                            'num_floors',
                            'num_parking_spaces',
                            'sale_amount__c',
                            'size_sf',
                            'year_built'
                        ]

# features_to_impute = [
#                         'price_per_sq_ft',
#                         'num_buildings',
#                         'num_floors',
#                         'num_parking_spaces',
#                         'sale_amount__c',
#                         'size_sf',
#                         'year_built'
#                      ]

# for feat in property_data_cnt_feats:
#     temp = property_data.groupby(['city'])[feat].agg('mean').reset_index()
#     cities = temp['city'].values.tolist()
#     feat_means = temp[feat].values.tolist()
#     for ct in cities:
#         property_data.loc[property_data['city']==ct,feat] = temp.loc[temp['city']==ct][feat].values[0]


cols = [
            'building_status',
            'class',
            'sale_status',
            'portfolio',
            'property_type_1'
       ]

for i,col in enumerate(cols):
    a = pd.get_dummies(property_data[col],prefix=col+'_',dtype='float')
    property_data = pd.concat([property_data, a], axis=1, sort=False)
new_cols = list(set(property_data.columns) - set(orig_cols))
print(new_cols)
property_ids = property_data.id_props.values.tolist()

property_profiles = property_data[property_data_cnt_feats+new_cols].fillna(0).values
print(property_profiles.shape)
def get_property_feature_vector(idx):
    property_feat_vec = property_profiles[idx]
    return property_feat_vec

def get_similar_accounts(acct_id):
    acct_id_idx = accts_ids.index(acct_id)
    acct_id_feature_vector = accts_profiles[acct_id_idx].astype('float')
    reccs = [(i,scipy.spatial.distance.cosine(acct_id_feature_vector,apf.astype('float')))\
             for i,apf in enumerate(accts_profiles)]
    reccs.sort(key=operator.itemgetter(1))
    return reccs

# array([2.22280e+02, 1.00000e+00, 2.00000e+00, 4.00000e+02, 2.25000e+07,
#        1.01223e+05, 2.00100e+03])

# array([4.29969e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00, 8.00000e+07,
#        1.86060e+04, 2.00300e+03])

Index(['id_props', 'building_status', 'building_tax_expenses', 'city', 'class',
       'county', 'sale_status', 'portfolio', 'market', 'num_buildings',
       'num_floors', 'num_parking_spaces', 'occupancy_rate', 'price_per_sq_ft',
       'price_per_unit', 'property_type_1', 'region__c', 'sale_amount__c',
       'sale_date__c', 'size_acres', 'size_sf', 'size_units', 'year_built'],
      dtype='object')

,id_props,building_status,building_tax_expenses,city,class,county,sale_status,portfolio,market,num_buildings,...,price_per_sq_ft,price_per_unit,property_type_1,region__c,sale_amount__c,sale_date__c,size_acres,size_sf,size_units,year_built
0,a0I2A00000XQGKlUAP,Existing,2009 Tax @ $1.25/sf,City-0488,Class B,County-0172,N,False,Market-0059,1.0,...,46.59,18350000.00,Industrial,Southwest,1.835000e+07,7/10/2015,3.760,393862.0,1.0,1980.0
1,a0I2A00000XQGKnUAP,NaN,NaN,City-1975,Class A,County-0465,Y,True,Market-0239,NaN,...,1141.55,2109090.91,Multi-Housing,Southeast,2.144058e+07,12/31/2016,19.600,508080.0,275.0,2014.0
2,a0I2A00000XQGKoUAP,Existing,"2016 Tax @ $5.63/sf; 2007 Ops @ $19.58/sf, 201...",City-1415,Class B,County-0452,N,False,Market-0165,1.0,...,1506.65,NaN,Retail,Northeast,2.754156e+07,9/30/2016,0.266,18280.0,NaN,1902.0
3,a0I2A00000XQGKpUAP,NaN,NaN,City-1415,Class A,County-0452,N,False,Market-0165,1.0,...,580.83,1220689.66,NaN,Northeast,1.416000e+08,1/21/2016,0.530,243789.0,116.0,NaN
4,a0I2A00000XQGKqUAP,NaN,NaN,City-0941,NaN,County-0284,N,False,Market-0106,NaN,...,NaN,NaN,Self-Storage,Southwest,0.000000e+00,9/30/2014,NaN,NaN,NaN,NaN

['property_type_1__Retail', 'property_type_1__Biotech', 'building_status__Under Construction', 'sale_status__Y', 'property_type_1__Medical Office Building', 'portfolio__False', 'class__Class B', 'building_status__Demolished', 'property_type_1__Land', 'property_type_1__Seniors Housing', 'property_type_1__Self-Storage', 'property_type_1__Hotel-Lodging', 'property_type_1__Multi-Housing', 'class__Class A', 'portfolio__True', 'class__Class C', 'property_type_1__Other', 'building_status__Proposed', 'property_type_1__Office', 'building_status__Existing', 'sale_status__N', 'property_type_1__Industrial']
(18298, 29)

In [5]:
# opportunities_table = pd.read_csv(TRN_DATA_PATH+'Opportunities.csv')

# deal_to_properties_table = pd.read_csv(TRN_DATA_PATH+'Deals_to_Properties.csv')

In [5]:
##### Accounts profiling on the basis of Property Features

accounts_to_properties_table = pd.read_csv(TRN_DATA_PATH+'Accounts_properties.csv')
accounts_to_properties_table.drop('id_deals',axis=1,inplace=True)

d1 = pd.merge(accounts_to_properties_table,property_data,on=['id_props'],how='left')

# Define all the groupby transformations
GROUPBY_AGGREGATIONS = [
        {'groupby': ['id_accs'], 'select': 'price_per_sq_ft', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_buildings', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_floors', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'num_parking_spaces', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'sale_amount__c', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'size_sf', 'agg': 'mean'},
        {'groupby': ['id_accs'], 'select': 'year_built', 'agg': 'mean'}
    ] + [{'groupby': ['id_accs'], 'select': col, 'agg': 'mean'} for col in new_cols]


# Apply all the groupby transformations
for spec in GROUPBY_AGGREGATIONS:
    
    # Name of the aggregation we're applying
    agg_name = spec['agg_name'] if 'agg_name' in spec else spec['agg']
    
    # Name of new feature
    new_feature = '{}_{}_{}'.format('_'.join(spec['groupby']), agg_name, spec['select'])
    # print(new_feature)
    # Info
    print("Grouping by {}, and aggregating {} with {}".format(
        spec['groupby'], spec['select'], agg_name
    ))
    
    # Unique list of features to select
    all_features = list(set(spec['groupby'] + [spec['select']]))
    # print(all_features)
    # Perform the groupby
    gp = d1[all_features]. \
        groupby(spec['groupby'])[spec['select']]. \
        agg(spec['agg']). \
        reset_index(). \
        rename(index=str, columns={spec['select']: new_feature})
    # print(gp)
    d1 = d1.merge(gp, on=spec['groupby'], how='left')
     # Clear memory
    del gp
    gc.collect()

d11 = d1[
            [
                'id_accs',
                'id_accs_mean_price_per_sq_ft',
                'id_accs_mean_num_buildings',
                'id_accs_mean_num_floors',
                'id_accs_mean_num_parking_spaces',
                'id_accs_mean_sale_amount__c',
                'id_accs_mean_size_sf',
                'id_accs_mean_year_built'
            ] + new_cols
        ]

d11_dash = d11.drop_duplicates()

acc_profiles_wrt_property_features = d11_dash.fillna(0).values[:,1:]

acc_profiles_wrt_property_features.shape

Grouping by ['id_accs'], and aggregating price_per_sq_ft with mean
Grouping by ['id_accs'], and aggregating num_buildings with mean
Grouping by ['id_accs'], and aggregating num_floors with mean
Grouping by ['id_accs'], and aggregating num_parking_spaces with mean
Grouping by ['id_accs'], and aggregating sale_amount__c with mean
Grouping by ['id_accs'], and aggregating size_sf with mean
Grouping by ['id_accs'], and aggregating year_built with mean
Grouping by ['id_accs'], and aggregating property_type_1__Retail with mean
Grouping by ['id_accs'], and aggregating property_type_1__Biotech with mean
Grouping by ['id_accs'], and aggregating building_status__Under Construction with mean
Grouping by ['id_accs'], and aggregating sale_status__Y with mean
Grouping by ['id_accs'], and aggregating property_type_1__Medical Office Building with mean
Grouping by ['id_accs'], and aggregating portfolio__False with mean
Grouping by ['id_accs'], and aggregating class__Class B with mean
Grouping by ['id_accs'], and aggregating building_status__Demolished with mean
Grouping by ['id_accs'], and aggregating property_type_1__Land with mean
Grouping by ['id_accs'], and aggregating property_type_1__Seniors Housing with mean
Grouping by ['id_accs'], and aggregating property_type_1__Self-Storage with mean
Grouping by ['id_accs'], and aggregating property_type_1__Hotel-Lodging with mean
Grouping by ['id_accs'], and aggregating property_type_1__Multi-Housing with mean
Grouping by ['id_accs'], and aggregating class__Class A with mean
Grouping by ['id_accs'], and aggregating portfolio__True with mean
Grouping by ['id_accs'], and aggregating class__Class C with mean
Grouping by ['id_accs'], and aggregating property_type_1__Other with mean
Grouping by ['id_accs'], and aggregating building_status__Proposed with mean
Grouping by ['id_accs'], and aggregating property_type_1__Office with mean
Grouping by ['id_accs'], and aggregating building_status__Existing with mean
Grouping by ['id_accs'], and aggregating sale_status__N with mean
Grouping by ['id_accs'], and aggregating property_type_1__Industrial with mean

(11247, 29)

In [12]:
display(property_data.head())

,id_props,building_status,building_tax_expenses,city,class,county,sale_status,portfolio,market,num_buildings,...,property_type_1__Hotel-Lodging,property_type_1__Industrial,property_type_1__Land,property_type_1__Medical Office Building,property_type_1__Multi-Housing,property_type_1__Office,property_type_1__Other,property_type_1__Retail,property_type_1__Self-Storage,property_type_1__Seniors Housing
0,a0I2A00000XQGKlUAP,Existing,2009 Tax @ $1.25/sf,City-0488,Class B,County-0172,N,False,Market-0059,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0I2A00000XQGKnUAP,NaN,NaN,City-1975,Class A,County-0465,Y,True,Market-0239,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,a0I2A00000XQGKoUAP,Existing,"2016 Tax @ $5.63/sf; 2007 Ops @ $19.58/sf, 201...",City-1415,Class B,County-0452,N,False,Market-0165,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,a0I2A00000XQGKpUAP,NaN,NaN,City-1415,Class A,County-0452,N,False,Market-0165,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,a0I2A00000XQGKqUAP,NaN,NaN,City-0941,NaN,County-0284,N,False,Market-0106,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
display(d1)

,id,id_accs,id_props,building_status,building_tax_expenses,city,class,county,sale_status,portfolio,...,id_accs_mean_property_type_1__Multi-Housing,id_accs_mean_class__Class A,id_accs_mean_portfolio__True,id_accs_mean_class__Class C,id_accs_mean_property_type_1__Other,id_accs_mean_building_status__Proposed,id_accs_mean_property_type_1__Office,id_accs_mean_building_status__Existing,id_accs_mean_sale_status__N,id_accs_mean_property_type_1__Industrial
0,a062A00001Whq5tQAB,0012A000023XlCCQA0,a0I2A00000XQKwXUAX,NaN,NaN,City-1406,NaN,County-0472,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,a062A00001VmP7EQAV,0012A000023XmOxQAK,a0I2A00000XvUEwUAN,Existing,2012 Tax @ $2.78/sf; 2007 Combined Est Tax/Ops...,City-1627,NaN,County-0154,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
2,a062A00001VmQByQAN,0012A000023XmOxQAK,a0I2A00000XwQ13UAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
3,a062A00001VmQC2QAN,0012A000023XmOxQAK,a0I2A00000XwZyBUAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
4,a062A00001VmW8wQAF,0012A000023XmOxQAK,a0I2A00000ZGZClUAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
5,a062A00001VmW8xQAF,0012A000023XmOxQAK,a0I2A00000ZGZCmUAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
6,a062A00001VmW8yQAF,0012A000023XmOxQAK,a0I2A00000ZGZCnUAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
7,a062A00001VmW9BQAV,0012A000023XmOxQAK,a0I2A00000ZGZD2UAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
8,a062A00001WhlUYQAZ,0012A000023XmOxQAK,a0I2A00000XQHk4UAH,Existing,2016 Tax @ $2.55/sf; 2014 Ops @ $47.47/sf,City-1095,NaN,County-0636,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
9,a062A00001Whq5sQAB,0012A000023XmOxQAK,a0I2A00000XQKwXUAX,NaN,NaN,City-1406,NaN,County-0472,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
10,a062A00001WiivKQAR,0012A000023XmOxQAK,a0I2A00000XQLUWUA5,Existing,2010 Tax @ $3.35/sf,City-0725,NaN,County-0624,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
11,a062A00001WikNpQAJ,0012A000023XmOxQAK,a0I2A00000XwHA2UAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
12,a062A00001WikhtQAB,0012A000023XmOxQAK,a0I2A00000XwHKnUAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
13,a062A00001WikoBQAR,0012A000023XmOxQAK,a0I2A00000XwHNuUAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
14,a062A00001Wimd6QAB,0012A000023XmOxQAK,a0I2A00000XwILpUAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
15,a062A00001WimxsQAB,0012A000023XmOxQAK,a0I2A00000XwIY8UAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
16,a062A00001Wio7bQAB,0012A000023XmOxQAK,a0I2A00000XwJDRUA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
17,a062A00001WitPnQAJ,0012A000023XmOxQAK,a0I2A00000XwLpgUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
18,a062A00001WitWCQAZ,0012A000023XmOxQAK,a0I2A00000XwLsrUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
19,a062A00001Witt6QAB,0012A000023XmOxQAK,a0I2A00000XwM3IUAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
20,a062A00001Wiw9pQAB,0012A000023XmOxQAK,a0I2A00000XwNCBUA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
21,a062A00001WixBTQAZ,0012A000023XmOxQAK,a0I2A00000XwNijUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
22,a062A00001WiykDQAR,0012A000023XmOxQAK,a0I2A00000XwOT3UAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
23,a062A00001Wizs0QAB,0012A000023XmOxQAK,a0I2A00000XwP0lUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
24,a062A00001Wj13QQAR,0012A000023XmOxQAK,a0I2A00000XwPamUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
25,a062A00001Wj1POQAZ,0012A000023XmOxQAK,a0I2A00000XwPl2UAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
26,a062A00001Wj1lTQAR,0012A000023XmOxQAK,a0I2A00000XwPvHUAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
27,a062A00001Wj2H2QAJ,0012A000023XmOxQAK,a0I2A00000XwQC1UAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
28,a062A00001Wj2MEQAZ,0012A000023XmOxQAK,a0I2A00000XwQERUA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
29,a062A00001Wj3s0QAB,0012A000023XmOxQAK,a0I2A00000XwR1XUAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.8,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70320,a062A00001YtDeCQAV,0012A000029kYObQAM,a0I2A00000YH4euUAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,1.0,0.0,0.0,1.0,1.0,0.0
70321,a062A00001YtDeVQAV,0012A000029kYObQAM,a0I2A00000YH4fAUAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,1.0,0.0,0.0,1.0,1.0,0.0
70322,a062A00001YtEI8QAN,0012A000029kYObQAM,a0I2A00000YH5DUUA1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,1.0,0.0,0.0,1.0,1.0,0.0
70323,a062A00001YtFSqQAN,0012A000029kYObQAM,a0I2A00000YH6BaUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,1.0,0.0,0.0,1.0,1.0,0.0
70324,a062A00001YtHu5QAF,0012A000029kYObQAM,a0I2A00000YH8EKUA1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,1.0,0.0,0.0,1.0,1.0,0.0
70325,a062A00001Yqt24QAB,0012A000029kkq9QAA,a0I2A00000XQJVmUAP,Existing,2008 Tax @ $1.76/sf,City-0936,Class C,County-0284,N,True,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70326,a062A00001YtU29QAF,0012A000029kkq9QAA,a0I2A00000YHJykUAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70327,a062A00001YtZptQAF,0012A000029kkq9QAA,a0I2A00000YHPOFUA5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70328,a062A00001YtZpuQAF,0012A000029kkq9QAA,a0I2A00000YHPOGUA5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70329,a062A00001YtZqbQAF,0012A000029kkq9QAA,a0I2A00000YHPPEUA5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70330,a062A00001YtZr2QAF,0012A000029kkq9QAA,a0I2A00000YHPPgUAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70331,a062A00001YtZryQAF,0012A000029kkq9QAA,a0I2A00000YHPQfUAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70332,a062A00001YtZslQAF,0012A000029kkq9QAA,a0I2A00000YHPRZUA5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
70333,a062A00001YqbmQQAR,0012A000029kyYnQAI,a0I2A00000XQJ6cUAH,Existing,NaN,City-1916,NaN,County-0269,N,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0
70334,a062A00001Ys5nOQAR,0012A000029kyYnQAI,a0I2A00000YFtDnUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0
70335,a062A00001YqtF7QAJ,0012A000029lEc5QAE,a0I2A00000XQKxiUAH,Existing,2016 Tax @ $9.71/sf,City-1290,NaN,County-0419,N,True,...,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0
70336,a062A00001YuSIIQA3,0012A000029lEc5QAE,a0I2A00000YIK6UUAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0
70337,a062A00001WhnMlQAJ,0012A000029wIEXQA2,a0I2A00000XQJ9YUAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70338,a062A00001WiIDxQAN,0012A000029wIEXQA2,a0I2A00000XuG7jUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70339,a062A00001WiUOlQAN,0012A000029wIEXQA2,a0I2A00000XuTQLUA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70340,a062A00001WiVWwQAN,0012A000029wIEXQA2,a0I2A00000XuUcGUAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70341,a062A00001WiXUSQA3,0012A000029wIEXQA2,a0I2A00000XuWevUAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70342,a062A00001YtV80QAF,0012A000029wIEXQA2,a0I2A00000YHL1wUAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70343,a062A00001VmJIMQA3,0012A00002IbcsiQAB,a0I2A00000XQNeoUAH,Existing,2016 Tax @ $485.59/Unit; 2012 Ops @ $2295.72/Unit,City-0488,Class B,County-0172,N,False,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70344,a062A00001VmL5XQAV,0012A00002IbcsiQAB,a0I2A00000XQLcJUAX,Existing,2015 Tax @ $700.69/Unit; 2006 Combined Est Tax...,City-0070,Class B,County-0624,N,True,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70345,a062A00001VmLHNQA3,0012A00002IbcsiQAB,a0I2A00000XuafyUAB,NaN,NaN,City-2099,NaN,County-0644,N,False,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70346,a062A00001WhqkxQAB,0012A00002IbcsiQAB,a0I2A00000XQLXjUAP,Existing,2016 Tax @ $1.13/sf,City-1216,NaN,County-0471,N,True,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70347,a062A00001Wih4ZQAR,0012A00002IbcsiQAB,a0I2A00000XQKNDUA5,NaN,NaN,City-1022,NaN,County-0338,N,False,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70348,a062A00001Wj8mkQAB,0012A00002IbcsiQAB,a0I2A00000XQWtJUAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0
70349,a062A00001YuoZaQAJ,0012A00002IbcsiQAB,a0I2A00000XQJ7QUAX,NaN,NaN,City-1581,NaN,County-0247,N,False,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.5,1.0,0.0

In [6]:
test_data = pd.read_csv(TEST_DATA_PATH+'Test_Data.csv')

test_data.head()

ids = list(test_data['id_accs'].values)

exclude = set(list(accounts_to_properties_table.id_props.unique()))

print(len(exclude))

63001

In [9]:
def filter_similar_accts(tuples_list):
    uniq = {}
    x = np.array([each[1] for each in tuples_list])
    p = np.percentile(x,1)
    print("accounts_percentile",p)
    for tl in tuples_list:
        if tl[1] not in uniq:
            uniq[tl[1]] = tl[0]     
        if tl[1] > p:
            break
    return uniq

# def filter_similar_accts_updated(tuples_list):
#     sa = []
#     x = np.array([each[1] for each in tuples_list])
#     p = np.percentile(x,0.5)
#     print("accounts_percentile",p)
#     sa = [tl[0] for tl in tuples_list if tl[1] <= p]
#     return sa

results = {}

for i,_id in enumerate(ids):
    most_similar_accts = get_similar_accounts(_id)
    print(len(most_similar_accts))
    filtered_most_similar_accts = filter_similar_accts(most_similar_accts)
    filtered_most_similar_accts = filtered_most_similar_accts.values()
#     filtered_most_similar_accts = filter_similar_accts_updated(most_similar_accts)
    print(len(filtered_most_similar_accts))
    print(filtered_most_similar_accts)
    top_reccs = []
    for most_similar_acct in filtered_most_similar_accts:
#         if most_similar_acct > 2727:
#             continue
        v1 = None
        v1 = acc_profiles_wrt_property_features[most_similar_acct].astype('float')
        reccs = []
        reccs = [(i,scipy.spatial.distance.cosine(v1,pf))\
                 if not np.isnan(scipy.spatial.distance.cosine(v1,pf)) else (i,0)
                 for i,pf in enumerate(property_profiles)]
        reccs.sort(key=operator.itemgetter(1))
        reccs = [r for r in reccs if r[1]>0]
        x = np.array([each[1] for each in reccs])
        if x.size==0:
            continue
        p = np.percentile(x,1.5)
        top_reccs.extend([property_ids[r[0]] for r in reccs if r[1]<=p])
    results[_id] = list(set(top_reccs)-exclude)
    print(len(results[_id]))

2756
accounts_percentile 1.330248456610228e-07
29
dict_values([79, 367, 1061, 426, 221, 1911, 2125, 1297, 1705, 1102, 1438, 1278, 29, 176, 1615, 315, 1703, 451, 586, 1032, 1371, 1468, 547, 755, 127, 140, 2153, 1612, 797])
486
2756
accounts_percentile 1.0244015202776069e-06
29
dict_values([6, 854, 1961, 22, 98, 470, 1395, 2729, 2136, 354, 2339, 227, 83, 2349, 24, 2034, 162, 122, 2132, 1203, 2139, 2555, 1680, 61, 2052, 479, 85, 287, 1164])
682
2756
accounts_percentile 9.680130415135047e-07
29
dict_values([22, 24, 85, 54, 6, 229, 479, 20, 227, 98, 2729, 924, 162, 1164, 854, 2164, 1961, 46, 2692, 1680, 1171, 333, 2311, 2555, 133, 683, 2132, 145, 1160])
479
2756
accounts_percentile 7.712776423252076e-07
29
dict_values([200, 393, 382, 1842, 775, 237, 244, 2237, 15, 175, 290, 443, 203, 1800, 1156, 5, 1641, 2133, 1924, 1576, 90, 359, 649, 1784, 2216, 432, 654, 774, 1295])
658
2756
accounts_percentile 0.0001269809498002761
29
dict_values([266, 820, 741, 727, 1508, 1309, 2350, 248, 1209, 846, 213, 730, 1109, 860, 437, 1956, 1701, 16, 590, 1099, 2113, 1916, 182, 2232, 2547, 2295, 348, 2535, 261])
523
2756
accounts_percentile 8.765306495961412e-07
29
dict_values([227, 98, 574, 438, 2729, 2052, 2139, 1572, 122, 1683, 2260, 2349, 22, 6, 24, 96, 1844, 1990, 2164, 354, 1067, 563, 1080, 102, 2694, 2685, 1885, 280, 229])
616
2756
accounts_percentile 3.0953602235817e-07
29
dict_values([32, 784, 542, 31, 1829, 285, 1429, 1630, 1975, 2105, 202, 921, 314, 464, 110, 1012, 1105, 988, 358, 1710, 188, 2152, 826, 2451, 549, 537, 1411, 1229, 2665])
480
2756
accounts_percentile 1.0992788465613579e-07
29
dict_values([80, 1234, 701, 1373, 119, 539, 803, 651, 94, 2005, 1344, 526, 653, 411, 877, 506, 2280, 2256, 721, 1440, 554, 204, 1693, 118, 412, 1451, 586, 1756, 1634])
512
2756
accounts_percentile 6.937428805864343e-08
29
dict_values([34, 901, 82, 787, 144, 455, 105, 134, 186, 1399, 1127, 2172, 740, 584, 971, 1861, 124, 868, 1177, 1149, 969, 412, 1091, 1440, 355, 2022, 599, 422, 2623])
594
2756
accounts_percentile 0.00012819255666044472
29
dict_values([730, 182, 1309, 213, 2113, 1508, 16, 1212, 1346, 348, 266, 820, 727, 44, 960, 2350, 2352, 590, 492, 2186, 261, 661, 860, 1701, 502, 1593, 1956, 741, 2025])
511
2756
accounts_percentile 1.8993892275648295e-05
29
dict_values([37, 728, 300, 970, 1442, 1706, 239, 1175, 1296, 1269, 256, 769, 553, 2709, 715, 1586, 448, 2585, 39, 2231, 1512, 1607, 444, 792, 1409, 2675, 465, 1196, 14])
629
2756
accounts_percentile 1.3992288042052881e-06
29
dict_values([133, 296, 20, 2755, 1164, 85, 2076, 1837, 54, 1171, 479, 22, 697, 683, 68, 236, 3, 11, 235, 1924, 1093, 2537, 24, 145, 2692, 203, 154, 333, 153])
472
2756
accounts_percentile 2.720182044502195e-07
29
dict_values([510, 1057, 843, 2045, 1604, 1184, 322, 1141, 40, 1255, 219, 1514, 1035, 773, 1833, 2596, 1120, 807, 823, 378, 234, 416, 387, 626, 1629, 115, 1660, 497, 1649])
505
2756
accounts_percentile 4.838596719120014e-06
29
dict_values([403, 433, 713, 1133, 770, 2443, 1351, 2086, 704, 1891, 1020, 663, 833, 758, 625, 318, 732, 283, 1626, 1550, 2235, 1748, 1475, 214, 147, 1315, 173, 1287, 258])
688
2756
accounts_percentile 2.4399225392324195e-07
29
dict_values([563, 1019, 1067, 1779, 983, 1530, 2068, 874, 1729, 634, 746, 647, 1276, 2143, 250, 682, 281, 475, 759, 1401, 2497, 93, 1080, 490, 1115, 2527, 857, 1398, 1320])
588
2756
accounts_percentile 9.549449551449206e-07
29
dict_values([4, 347, 167, 2301, 639, 288, 710, 1078, 903, 1075, 295, 1709, 1946, 1806, 671, 1417, 800, 1609, 408, 194, 1663, 415, 669, 1469, 2021, 287, 429, 814, 1683])
449
2756
accounts_percentile 1.1125216930529812e-06
29
dict_values([20, 2755, 1837, 133, 85, 54, 1164, 22, 1171, 2076, 479, 229, 235, 683, 24, 68, 1093, 145, 296, 2692, 49, 265, 3, 236, 2533, 779, 487, 58, 333])
437
2756
accounts_percentile 2.6277219032033724e-06
29
dict_values([283, 173, 663, 1550, 1667, 1626, 214, 147, 833, 1038, 282, 633, 770, 1137, 452, 704, 1097, 57, 471, 697, 2037, 2086, 258, 1439, 1133, 1412, 433, 2290, 758])
592
2756
accounts_percentile 3.604966274606269e-07
29
dict_values([40, 1141, 1660, 510, 234, 341, 1255, 1514, 869, 215, 1057, 773, 456, 807, 387, 378, 1043, 51, 813, 1184, 823, 322, 1503, 115, 1430, 1035, 1732, 219, 2371])
513
2756
accounts_percentile 1.331396241271987e-05
29
dict_values([120, 1272, 989, 249, 1063, 445, 1456, 286, 1845, 524, 1008, 1498, 2479, 1314, 345, 294, 1960, 665, 1491, 1291, 1472, 1146, 291, 596, 2356, 2114, 2100, 1253, 1841])
708
2756
accounts_percentile 7.753858068337838e-06
29
dict_values([165, 938, 2488, 405, 698, 593, 1587, 966, 99, 859, 1972, 1157, 441, 1878, 1667, 567, 152, 1056, 1202, 1476, 2610, 2285, 1372, 2165, 748, 1289, 183, 468, 2094])
582
2756
accounts_percentile 1.8111474061055511e-07
29
dict_values([737, 2310, 605, 543, 45, 1357, 920, 93, 547, 361, 411, 488, 188, 600, 2005, 135, 218, 826, 1775, 461, 155, 1374, 1373, 1530, 174, 1542, 1234, 1398, 176])
436
2756
accounts_percentile 1.2600615218461008e-07
29
dict_values([93, 45, 135, 600, 250, 461, 2005, 488, 101, 543, 1276, 983, 737, 554, 91, 411, 1775, 795, 793, 877, 281, 119, 361, 1234, 174, 844, 1530, 412, 490])
547
2756
accounts_percentile 1.8948384631900516e-07
29
dict_values([907, 1015, 672, 675, 384, 1111, 1201, 992, 1059, 245, 70, 666, 1507, 1696, 128, 180, 1298, 1678, 2568, 757, 1999, 745, 562, 2520, 473, 1165, 398, 909, 160])
579
2756
accounts_percentile 7.615503770264098e-07
29
dict_values([54, 49, 145, 85, 24, 58, 479, 20, 22, 229, 1160, 487, 68, 2164, 2755, 1171, 265, 779, 235, 46, 608, 86, 805, 1237, 1837, 2345, 1229, 515, 371])
499
2756
accounts_percentile 5.906748766215664e-07
29
dict_values([17, 1806, 51, 615, 408, 1430, 800, 456, 928, 2384, 7, 1211, 1187, 894, 1660, 288, 825, 813, 2021, 100, 619, 869, 1798, 53, 1417, 215, 903, 295, 639])
427
2756
accounts_percentile 5.046862513791162e-07
29
dict_values([51, 615, 800, 456, 813, 7, 17, 869, 1660, 40, 1430, 1141, 295, 1187, 1503, 341, 1806, 215, 773, 408, 710, 53, 825, 378, 1085, 1417, 1075, 234, 2384])
498
2756
accounts_percentile 9.084007993598319e-08
29
dict_values([91, 355, 13, 969, 412, 1598, 217, 84, 599, 281, 101, 105, 793, 490, 554, 121, 877, 802, 461, 1276, 135, 1457, 2172, 795, 600, 250, 1293, 45, 82])
553
2756
accounts_percentile 1.2558443971077971e-06
29
dict_values([11, 153, 57, 1799, 2056, 236, 683, 957, 60, 559, 3, 1961, 1831, 162, 471, 633, 296, 2692, 61, 520, 697, 85, 133, 65, 2311, 2034, 6, 1093, 2193])

/home/chandrashekhar/anaconda3/lib/python3.6/site-packages/scipy/spatial/distance.py:698: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

532

In [10]:
import csv
with open('subm16.csv','w') as fout:
    writer = csv.writer(fout)
    writer.writerow(['id_accs','id_prop'])
    for resid,res in results.items():
        for r in res:
            row = [resid]+[r]
            writer.writerow(row)